#typer-speed-diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;

    div {
        display: flex;
        width: 70%;
        max-width: 653px;
        height: 100%;

        #speed-color-background {
           flex: 1 1;
        }

        #avg-speed {
            display: flex !important;
            flex-direction: column;
            transition: width 3s, background-color 2s, box-shadow 2s;
            transition-timing-function: linear;
            display: inline-block;
            height: 100%;
            background-color: rgb(132, 179, 120);
            border-right: 3px solid rgba(26, 101, 5, 0.49);

            #avg-speed-label {
                position: absolute;
                align-self: flex-end;
                font-size: 15px;
                color: rgb(20, 95, 0);
                margin-top: 30px;
                margin-left: -4px;
            }
        
            #cur-speed {
                display: inline-block;
                transition: 3s;
                transition-timing-function: ease;
                width: 0%;
                height: 100%;
                background-color: rgba(113, 171, 98, 0.25);
                border-right: 1px solid rgba(26, 101, 5, 0.49);

                #best-speed {
                    display: flex;
                    justify-content: flex-end;
                    border-right: 1px solid #cc000085;
                    height: 250%;
                    margin-top: -20px;
                    transition: 3s;
                    transition-timing-function: line;

                    span {
                        position: absolute;
                        margin-top: -8px;
                        margin-left: -15px;
                        font-size: 15px;
                        color: #980000;
                    }
                    :nth-child(2) {
                        margin-left: 40px;
                        font-size: 12px;
                        color: #2d2d2d;

                        span {
                            font-style: italic;
                            font-size: 11px;
                            color: #2d2d2d;
                        }
                    }
                }
            }
        }

        .avg-speed-lose {
            background-color: rgba(179, 155, 154, 0.77) !important;
        }

        .avg-speed-win {
            box-shadow: 0px 2px 5px inset #008000ed, 0px -4px 6px inset #008000ed;
        }
    }
}

#speed-color-background:after {
    content: "";
    margin-left: -2px;
    margin-top: -10px;
    height: 50px;
    border-right: 1px solid rgb(47, 144, 19);
}