.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 800px;
    height: 30px;
    font-size: 13px;
    color: #232323;
    letter-spacing: 0.5pt;
    word-spacing: 2pt;
    line-height: 12pt;
    border-radius: 15px 15px 0px 0px;
    margin-top: 15px;
    user-select: none; 

    span {
        margin-right: 0%;
    }
}