body {
  margin: 0;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: rgb(128, 128, 128);
}

#root {
  width: 1000px;
  height: 100vh;
}
