.texts-add-button {
    display: flex;
    flex: 10 1 auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8px;
}

.addBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6ebd28), color-stop(1, #4c9410));
    background:-moz-linear-gradient(top, #6ebd28 5%, #4c9410 100%);
    background:-webkit-linear-gradient(top, #6ebd28 5%, #4c9410 100%);
    background:-o-linear-gradient(top, #6ebd28 5%, #4c9410 100%);
    background:-ms-linear-gradient(top, #6ebd28 5%, #4c9410 100%);
    background:linear-gradient(to bottom, #6ebd28 5%, #4c9410 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ebd28', endColorstr='#4c9410',GradientType=0);
    background-color:#6ebd28;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:5px;
    border:1px solid #298718;
    cursor:pointer;
    color:rgb(244, 251, 243);
    font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size:16px;
    font-weight:bold;
    width: 17%;
    height: 34px;
    min-width: 80px;
    text-decoration:none;
    text-shadow:0px 1px 0px #547437;
    outline: none;
}

.addBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4c9410), color-stop(1, #6ebd28));
    background:-moz-linear-gradient(top, #4c9410 5%, #6ebd28 100%);
    background:-webkit-linear-gradient(top, #4c9410 5%, #6ebd28 100%);
    background:-o-linear-gradient(top, #4c9410 5%, #6ebd28 100%);
    background:-ms-linear-gradient(top, #4c9410 5%, #6ebd28 100%);
    background:linear-gradient(to bottom, #4c9410 5%, #6ebd28 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c9410', endColorstr='#6ebd28',GradientType=0);
    background-color:#4c9410;
    color:rgb(15, 72, 5);
}

.addBtn:active {
    position:relative;
    top:1px;
}

.texts-list {
   // display: inline !important;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    -ms-overflow-style: none !important;

    #msg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        font-size: 5vh;
    }
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 5%;
}
::-webkit-scrollbar-thumb {
  background: #6e6e6e;
  border-radius: 5px 0 0 5px;
}

::-webkit-scrollbar-track {
  //background: #57575760;
  border-radius: 5px 0 0 5px;
}


#text-cont {
    --main-font-family: 'Source Sans Pro', "Segoe UI", sans-serif;
    --second-font-family: 'Titillium Web', "Segoe UI", sans-serif;
    display: flex;
    padding: 2px;
    padding-top: 5px;
    padding-left: 8px;
    width: 93%;
    height: 83px;
    margin-bottom: 12px;
    background-color: rgb(243, 243, 243);
    border: 1px solid #635f65c2;
    border-top: 3px solid #635f65c2;
    border-radius: 5px;
    font-family: var(--main-font-family);
    
    #main-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 84%;
        max-width: 720px;
        padding-right: 15px;
        padding-left: 8px;

        #header {
            display: flex;
            justify-content: flex-start;
            font-size: 15px;
            height: 25%;
            flex-basis: 0;

            
            #caption {
                font-weight: bold;
                width: 85%;
            }

            #tool {
                display: flex;
                justify-content: space-between;
                margin-right: 20px;
                width: 20%;
                min-width: 130px;
                height: 21px;

                .material-icons { 
                    font-size: 22px;
                    color: rgba(118, 118, 118, 0.71);
                }
                .material-icons:hover {
                    font-size: 26px;
                    color: rgba(36, 36, 36, 0.903);
                }
                .star {
                    font-size: 24px;
                    margin-left: 2px;
                    color: rgba(118, 118, 118, 0.71);
                    width: 30px;
                }
                #rate {
                    justify-content: flex-end;
                    width: 60px; 
                    padding-right: 5px;
                    font-weight: bold;
                    color: #d9a20e;
                }
                .star:hover {
                    color: rgb(254, 189, 12);
                    font-size: 30px;
                }

                div {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    width: 20%;
                }
            }
        }

        #body {
            padding-left: 4px;
            font-size: 14px;
            height: 35px;
            overflow-y: scroll;
            overflow-x: hidden;
            word-break: break-all;
            -ms-overflow-style: none;
        }
        ::-webkit-scrollbar { width: 0; }

        #footer {
            display: flex;
            font-size: 15px;
            padding-left: 4px;
            padding-bottom: 4px;
            font-size: 12px;

            #alph {
                width: 100px;
            }

            span {
                font-family: var(--second-font-family);
                color: rgb(101, 101, 101);
                font-size: 11px;
            }
        }

    }

    #second-info {
        display: flex;
        justify-content: flex-start;
        width: 16%;
        min-width: 129px;
        line-height: 16px;
        font-size: 11px;
        white-space: nowrap;
        margin-right: 10px;

        #names {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            width: 40%;
            margin-right: 5px;
            font-family: var(--second-font-family);
            color: rgb(101, 101, 101);
        }

        #data {
            display: flex;
            flex-direction: column;
            width: 50%;
            font-size: 12px;

            .lbl {
                font-family: var(--second-font-family);
                color: rgb(101, 101, 101);
                font-size: 11px;
                align-self: flex-end;
                font-weight: normal;
                font-style: italic;
            }

            .sep {
                font-style: normal;
            }

            #best-speed-cont {
                font-weight: 600;
            }

            #bs {
                font-weight: 600;
                align-self: flex-end;

            }

            #speed {
                color: hsl(120, 56%, 20%);
            }

            #mist {
                color: hsl(0, 71%, 30%);
            }

        }

    }
}
#text-cont:nth-child(1) {margin-top: 12px;}

#text-cont:hover {
    border-top-color: rgba(220, 193, 10, 0.88);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.second-menu {
    .search {
        height: 21px !important;
        width: 20%;
        margin: 3px;
        border: 0px !important;
        background-color: rgb(253, 253, 253);
        outline: none;
        padding-left: 5px;
    }

    select {
        width: 60px;
        outline: none;
        font-size: 13px;  
        height: 20px !important;
        text-align-last:center;
        cursor: pointer;
    }

    label {
        font-size: 14px;
        margin-left: 2%;
        margin-right: 5px;
    }
}