#right-text-line {
    display: flex;
    background-color: antiquewhite;
    div {
        width: 30%;
        height: 50px;
        border: 1px solid black;
    }
}

#input-text-line {
    display: flex;
    background-color: antiquewhite;
    div {
        width: 30%;
        height: 50px;
        border: 1px solid black;
    }
}